* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 20vh;
}

h1 {
  margin: 3rem;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 2px 2px 8px gray;
  font-size: 50px;
  letter-spacing: 4rem;

  /*animation*/
  animation-duration: 3s;
  animation-delay: 500ms;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

img {
  height: 35rem;
  width: 25rem;
  border-radius: 15px;
  cursor: zoom-in;
}

img:hover {
  filter: brightness(0.5);
  transform: scale3d(1.1, 1.1, 1.1);
  transition-duration: 500ms;
}

/*Description*/

figcaption {
  text-align: center;
  text-decoration: none;
  color: rgb(109, 109, 109);
  margin: 10px;
  font-style: italic;
}

a {
  text-align: center;
  text-decoration: none;
  color: rgb(109, 109, 109);
  margin: 10px;
}

/*Author section*/

.author {
  font-size: 15px;
}

/*Follow button*/

.follow {
  font-size: 15px;
  margin: 10px;
  padding: 5px 10px;
  background-color: #e60023;
  border-radius: 20px;  
  color: white;
  font-weight: bold;
}

.follow:hover {
  filter: brightness(0.8);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20vh;
  background-color: rgb(196, 196, 196);
}